{% load static %}
   <body class="home page-template-default page page-id-28 wp-custom-logo noor-front-page has-header-image page-two-column">
      <div class="elfsight-app-8b98d84d-5e2a-44b1-bb2e-3175b9cbb18c">
         <div id="eapps-whatsapp-chat-8b98d84d-5e2a-44b1-bb2e-3175b9cbb18c" class="RootLayout__Component-sc-1doisyz-0 iJRJs eapps-whatsapp-chat-8b98d84d-5e2a-44b1-bb2e-3175b9cbb18c-custom-css-hook" data-app="eapps-whatsapp-chat" data-app-version="1.2.1"></div>
      </div>
      <script async="" src="{% static 'js' %}"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-HP1ZZHFWKC');
      </script>
      <a class="skip-link screen-reader-text" href="https://kbc-lotterywinner.com/#main">Skip to content</a>
      <div class="top-header">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8">
                  <span class="contact">
                  <span class="location"> <i class="fa fa-map-marker"></i>Mumbai, India </span>
                  <span class="email"> <i class="fa fa-envelope"></i>info@kbc-winner.com </span>
                  <span class="phone"> <i class="fa fa-phone"></i>+1918890977 </span>
                  </span>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="row">
                     <div class="col-lg-8 col-md-8">
                        <div class="social-icons">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="noor-header">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <div class="logo">
                     <a href="https://kbc-lotterywinner.com/" class="custom-logo-link" rel="home" aria-current="page"><img width="250" height="250" src="{% static 'cropped-262488_182673951798059_3329249_n-3.jpg' %}" class="custom-logo" alt="KBC Lottery Winner 2021 25 Lakh List" srcset="{% static 'cropped-262488_182673951798059_3329249_n-3.jpg' %} 250w, {% static 'cropped-262488_182673951798059_3329249_n-3.jpg' %} 150w, {% static 'cropped-262488_182673951798059_3329249_n-3.jpg' %} 100w, {% static 'cropped-262488_182673951798059_3329249_n-3.jpg' %} 20w" sizes="(max-width: 250px) 100vw, 250px"></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="toggle"><a class="toggleMenu" href="https://kbc-lotterywinner.com/#" style="display: none;">Menu</a></div>
         <div class="menu-section">
            <div class="container">
               <div class="nav">
                  <div class="menu">
                     <ul>
                        <li class="page_item page-item-66"><a href="https://kbc-lotterywinner.com/about-us/">About Us</a></li>
                        <li class="page_item page-item-64"><a href="https://kbc-lotterywinner.com/contact-us/">Contact Us</a></li>
                        <li class="page_item page-item-68"><a href="https://kbc-lotterywinner.com/kbc-faqs/">KBC FAQs</a></li>
                        <li class="page_item page-item-165"><a href="https://kbc-lotterywinner.com/kbc-jio-lottery-winner-2021/">KBC Jio Lottery Winner 2021</a></li>
                        <li class="page_item page-item-28 current_page_item"><a href="https://kbc-lotterywinner.com/" aria-current="page">KBC Lottery Winner 2021 List 25 Lakhs</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>