{% extends 'base.html'%}
{% block content %}
    <div class="container">
     <div class="row">
         <div class="col-auto">
             <h1>Thank you for your inquiry</h1>
                {% if winner %}


                <h2>Name : {{ winner.winner_name }}</h2>
                <h2>Prize Amount : <b> {{ winner.amount }}</b></h2>
                    {% else %}
                    <h1>
                    You haven't Won any Prize Yet Keep Trying.

                    </h1>
                {% endif %}
         </div>
     </div>

    </div>


{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}