{% load static %}
<div class="siteheader siteinner">
<div class="container">
     <div class="logo">
                <h1><a href="#" rel="home">KBC Lottery Winner 2021</a></h1>
                    </div><!-- logo -->
     <div class="hdr_logright">
       <div class="toggle">
         <a class="toggleMenu" href="#">Menu</a>
       </div><!-- toggle -->
       <div class="site-primemenu">
         <div class="menu"><ul>
      <li class="current_page_item"><a href="{% url 'index' %}">Home</a></li>
      <li class="page_item page-item-63"><a href="{% url 'about' %}">About</a></li>
      <li class="page_item page-item-35"><a href="{% url 'contact' %}">Contact</a></li>
      <li class="page_item page-item-486"><a href="{% url 'index' %}">Jio Lottery Winner 2021</a></li>
      <li class="page_item page-item-504"><a href="{% url 'index' %}">Jio Lucky Draw 2021</a></li>
      <li class="page_item page-item-503"><a href="{% url 'index' %}">Jio Lucky Winner 2021</a></li>
</ul></div>
       </div><!--.site-primemenu -->
     </div><!--.hdr_logright -->
<div class="clear"></div>

</div><!-- container -->
</div><!--.siteheader -->